* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'OpenSans-ExtraBold', 'Helvetica', sans-serif;
    background: #F0F0E8;
    color: #77818E;
}

header {
    margin: 30px auto;
    text-align: center;
}

header h1 {
    color: #019188;
    font-size: 56px;
    padding: 20px 0;
}

header p {
    padding: 15px 0;
}

main {
    margin-left: 40px;
}

article {
    float: left;
    width: 200px;
    text-align: center;
    margin: 0 20px 0 20px;
    padding: 10px;
}

article:hover {
    border-left: 8px solid #019188;
    background: #F6F6F6;
    cursor: pointer;
    padding: 10px 10px 10px 2px;
}

article h3 {
    padding: 10px 0;
}

article p {
    font-size: 16px;
    padding: 0 20px 20px 20px;
}