@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vollkorn', serif;
    color: #72aeb4;
    width: 1200px;
    margin: 25px auto;
}

header h1 {
    color: #000000;
}

article {
    margin: 40px;
}

article img {
    width: 250px;
    border: 1px solid #dbdde0;
    padding: 10px;
    float: left;
    margin-right: 20px;
}

article h3 {

}

p.date {
    font-size: 14px;
    color: #000000;
    padding: 5px 0 15px 0;
}

article p {
    font-size: 14px;
    color: #000000;
    padding-bottom: 15px;
    text-align: justify;
}

article a {
    color: #72aeb4;
}