@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #24437C;
    color: #FFFFFF;
}

header nav img {
    margin: 35px 0 0 25px;
}

.nav-primary {
    float: right;
    list-style: none;
    margin: 35px 25px 0 0;
}

.nav-item {
    display: inline-block;
    padding-right: 15px;
}

/*
.nav-primary li:last-child {
    border: 1px solid #3DC1EF;
    background-color: #3DC1EF;
    padding: 5px 10px;
    border-radius: 8px;
}
*/

.nav-primary li a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 300;
}

header h1.header-title {
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 42px;
    letter-spacing: 3px;
}

header h2.header-subtitle {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 20px;
    color: #5192AE;
}

#button-container {
    width: 105px;
    margin: 40px auto;
}

.header-btn {
    text-transform: capitalize;

}

.cta-btn {
    border: 1px solid #3DC1EF;
    background-color: #3DC1EF;
    padding: 5px 10px;
    border-radius: 10px;
}

.header-services {
    width: 1024px;
    margin: 0 auto;
}

.service {
    display: inline-block;
    width: 240px;
    padding: 25px 49px 0 49px;
    vertical-align: top;
}

.service:hover {
    background-color: #3DC1EF;
    cursor: pointer;
}

.service-title {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.service-intro {
    font-size: 14px;
}

.service-link {
    display: block;
    padding: 24px 0;
    text-decoration: none;
    color: #FFFFFF;
}
